<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
<h1>Productos</h1>

</div>
<div class="container">
    <div class="row">
        {{#each productos}}
        <div class="card col-xl-4 col-md-6 col-sm-12">
            <img src="{{img}}" alt="" class="card-img-top">
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
                <p class="card-text">{{description}}</p>
                <p class="card-text"> U$D{{price}}</p>
                <form action="/api/carts/{{../cartId}}/product/{{id}}" method="POST">
                    <button class="btnMios" type="submit">Agregar al Carrito</button>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
</div>
